<!-- -->
<launch>
  <!-- carla parameter -->
  <arg name='host' default='localhost'/> <!-- host the carla server is running on -->
  <arg name='port' default='2000'/> <!-- port of the carla server -->

  <!-- scenario runner parameter -->
  <arg name='scenario_runner_path' default='$(env SCENARIO_RUNNER_ROOT)'/><!-- path to scenario runner -->

  <!-- ego vehicle parameter -->
  <arg name="role_name" default="ego_vehicle"/> <!-- role name of the ego vehicle (used for identification in many nodes) -->

  <!-- scenario parameter -->
  <arg name="scenario"/><!-- name of the .xosc scenario file -->

  <!-- ===================================================== -->

  <!-- Scenario Runner and an example scenario-->
  <node pkg="rostopic" type="rostopic" name="publish_scenarios"
    args="pub /carla/available_scenarios carla_ros_scenario_runner_types/CarlaScenarioList '{ 'scenarios':  
      [
        {
          'name': '$(arg scenario)',
          'scenario_file': '/scenarios/$(arg scenario).xosc'
        }
      ]
    }' -l"/>

  <include file="$(find carla_ros_scenario_runner)/launch/carla_ros_scenario_runner.launch">
    <arg name='host' value='$(arg host)'/>
    <arg name='port' value='$(arg port)'/>
    <arg name="role_name" value="$(arg role_name)"/>
    <arg name="scenario_runner_path" value="$(arg scenario_runner_path)"/>
    <arg name="wait_for_ego" value="True"/>
  </include>

  <!-- Scenario Startup -->
  <node pkg="rosservice" type="rosservice" name="global_loc" launch-prefix="bash -c 'sleep 5; $0 $@' " 
  args="call /scenario_runner/execute_scenario 
  &quot;{'scenario':{'scenario_file':'/scenarios/$(arg scenario).xosc'}}&quot;" />


</launch>
